/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.dashedBorder {
	-fx-border-color: red; 
	-fx-border-width: 3;
	-fx-border-style: dashed;
}

.backgroundRed {
	-fx-background-color: red;
}

.backgroundBlue{
	-fx-background-color: blue;
}

.backgroundGreen{
	-fx-background-color: green;
}

.backgroundYellow{
	-fx-background-color: yellow;
}

.center {
	-fx-alignment: center;
}